* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}







.container {
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    background-color: rgb(58, 73, 87);
    width: 500px;
    height: 600px;
    border: 2px solid #000;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    user-select: none;
}

.pantalla {
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 50px;
    width: 90%;
    height: 18%;
    background-color: #bbd;
    border: 2px solid #000;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.botones-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.botones {
    display: flex;
    width: 100px;
    height: 85px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 600;
    border: 2px solid #000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #ccf;
    cursor: pointer;
}

.botones:hover{
    background-color: rgb(110, 139, 218);
}
.botones:active{
    border: 5px inset rgb(141, 53, 212);
}


.eligual{
    background-color: rgb(201, 125, 25) !important;
    color: #fff;
    font-size: 70px;
    text-align: center;
}